useDynLib(StudentProjectAllocation, .registration=TRUE)

export(hungarian_algorithm)
export(genetic_algorithm_assignment)


export(hungarian_algorithm_cpp)
export(genetic_algorithm_cpp)

importFrom(Rcpp, evalCpp)



